* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;


background: linear-gradient(170deg, rgb(255, 204, 255) 0%, rgba(165,231,236,1) 35%, rgb(255, 204, 255) 69%, rgba(148,233,219,1) 100%);
}
